<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <title>Link has Expired</title>
    <style>
      body {
        font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f2f2f2;
        text-align: center;
      }
      svg {
        width: 3rem;
      }

      h1 {
        font-size: 36px;
        color: #ff0000;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }

      p {
        font-size: 18px;
        color: #666;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>
        Link has Expired
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 132">
          <circle
            cx="66"
            cy="66"
            r="64"
            fill="#fad553"
            class="colorFAD553 svgShape"
          />
          <path
            fill="#fab941"
            d="M56.024 9.834c0 .555-.45 1.005-1.005 1.005h-3.16a1.008 1.008 0 0 1-1.006-1.005c0-.553.453-1.005 1.005-1.005h3.161c.555 0 1.005.45 1.005 1.005zm1.762 0c0-.555.45-1.005 1.006-1.005h6.203a1.005 1.005 0 0 1 0 2.01h-6.203c-.556 0-1.006-.45-1.006-1.005zM30.702 20.707a1.005 1.005 0 1 0 0-2.01h-7.81a64.393 64.393 0 0 0-2.109 2.01h9.92zM39.8 19.7c0 .556-.45 1.006-1.005 1.006h-4.123c-.553 0-1.005-.453-1.005-1.005s.452-1.006 1.005-1.006h4.123c.555 0 1.005.45 1.005 1.005zM12.97 89.972H6.66c.274.677.559 1.346.855 2.01h5.454a1.005 1.005 0 1 0 0-2.01zm4.52 2.01h-.947a1.005 1.005 0 0 1 0-2.01h.946a1.005 1.005 0 0 1 0 2.01zm16.5 14.011c0-.555.45-1.005 1.004-1.005h1.118c.553 0 1.005.453 1.005 1.005 0 .553-.452 1.006-1.005 1.006h-1.118c-.555 0-1.005-.45-1.005-1.006zm-1.562 0c0 .556-.45 1.006-1.005 1.006h-4.808a1.005 1.005 0 1 1 0-2.01h4.808c.555 0 1.005.45 1.005 1.004zm18.882 0c0 .556-.45 1.006-1.005 1.006h-9.896a1.005 1.005 0 0 1 0-2.01h9.896c.555 0 1.005.45 1.005 1.004zm78.536-35.645c-.04.68-.1 1.35-.16 2.01h-9.88a1.005 1.005 0 1 1 0-2.01h10.04zm-12.61 1.008c0 .555-.45 1.005-1.005 1.005h-4.808a1.005 1.005 0 0 1 0-2.01h4.808c.555 0 1.005.45 1.005 1.005zm-75.844 53.732h4.523a1.005 1.005 0 0 0 0-2.01h-8.85a63.635 63.635 0 0 0 4.327 2.01zm17.618-2.01h-8.956a1.005 1.005 0 0 0 0 2.01h8.956c.553 0 1.005-.453 1.005-1.006s-.452-1.005-1.005-1.005zm21.76-7.016h12.75a1.005 1.005 0 1 1 0 2.01H80.77c-.552 0-1.004-.452-1.005-1.005s.453-1.005 1.006-1.005zm16.368 1.005c0-.555.45-1.005 1.006-1.005h1.08a1.005 1.005 0 0 1 0 2.01h-1.08c-.555 0-1.006-.45-1.006-1.005zm-80.192-53.24h5.493a1.005 1.005 0 0 1 0 2.01l-5.493.001a1.008 1.008 0 0 1-1.005-1.005c0-.553.452-1.005 1.005-1.005zm-9.502 0h5.493a1.005 1.005 0 0 1 0 2.01l-5.493.001c-.553 0-1.005-.452-1.005-1.005s.452-1.005 1.005-1.005zm18.613 1.006c0-.555.45-1.005 1.005-1.005h1.08a1.005 1.005 0 0 1 0 2.01h-1.08c-.555 0-1.005-.45-1.005-1.005zm77.468 27.624h5.493a1.005 1.005 0 0 1 0 2.01h-5.492a1.008 1.008 0 0 1-1.006-1.005c0-.553.453-1.005 1.005-1.005zm-9.502 0h5.493a1.005 1.005 0 0 1 0 2.01h-5.493a1.008 1.008 0 0 1-1.005-1.005c0-.553.452-1.005 1.005-1.005zm18.613 1.005c0-.555.45-1.005 1.005-1.005h1.08a1.005 1.005 0 0 1 0 2.01h-1.08c-.555 0-1.005-.45-1.005-1.005zm-5.359-52.232h5.493a1.005 1.005 0 0 1 0 2.01h-5.493a1.008 1.008 0 0 1-1.005-1.005c0-.553.452-1.005 1.005-1.005zm-9.502 0h5.492a1.005 1.005 0 1 1 0 2.01h-5.492c-.553 0-1.005-.452-1.005-1.005s.452-1.005 1.005-1.005zm18.612 1.005c0-.555.45-1.005 1.006-1.005h1.08a1.005 1.005 0 0 1 0 2.01h-1.08c-.555 0-1.005-.45-1.005-1.005zm-89.447-4.13h7.75a1.005 1.005 0 0 1 0 2.01h-7.75c-.553 0-1.005-.452-1.005-1.005s.452-1.005 1.005-1.005zm11.368 1.005c0-.555.45-1.005 1.005-1.005h1.08a1.005 1.005 0 0 1 0 2.01h-1.08c-.555 0-1.005-.45-1.005-1.005zM87.16 19.126h7.75a1.005 1.005 0 0 1 0 2.01h-7.75a1.008 1.008 0 0 1-1.005-1.004c0-.553.452-1.006 1.005-1.006zm11.368 1.006c0-.555.45-1.006 1.005-1.006h1.08a1.005 1.005 0 0 1 0 2.01h-1.08c-.555 0-1.005-.45-1.005-1.004z"
            class="colorFAB941 svgShape"
          />
          <circle
            cx="62.382"
            cy="62.725"
            r="44.728"
            fill="#fab941"
            class="colorFAB941 svgShape"
          />
          <path
            fill="#fab941"
            d="M107.107 62.728c0 24.7-20.02 44.72-44.72 44.72-13.09 0-24.86-5.62-33.03-14.57 7.94 7.22 18.49 11.62 30.08 11.62 24.7 0 44.72-20.02 44.72-44.72 0-11.58-4.39-22.14-11.62-30.08 8.95 8.17 14.57 19.94 14.57 33.03z"
            class="colorFAB941 svgShape"
          />
          <circle
            cx="62.382"
            cy="62.725"
            r="38.172"
            fill="#fab941"
            class="colorFAB941 svgShape"
          />
          <path
            fill="#fab941"
            d="M51.17 75.889a1.951 1.951 0 0 1-1.38-3.332l10.64-10.64v-20.48a1.952 1.952 0 1 1 3.904 0v21.288c0 .517-.206 1.013-.572 1.38L52.55 75.317c-.381.381-.88.572-1.38.572z"
            class="colorFAB941 svgShape"
          />
          <path
            fill="#fab941"
            d="M66.538 62.726a4.156 4.156 0 0 1-4.153 4.153 4.151 4.151 0 0 1-4.153-4.153 4.151 4.151 0 0 1 4.153-4.153 4.156 4.156 0 0 1 4.153 4.153zm-4.156-28.388a.78.78 0 0 1-.78-.78v-2.074a.78.78 0 1 1 1.561 0v2.073a.78.78 0 0 1-.78.78zm0 60.408a.78.78 0 0 1-.78-.78v-2.074a.78.78 0 1 1 1.561 0v2.073a.78.78 0 0 1-.78.781zM48.19 38.141a.78.78 0 0 1-1.066-.286l-1.037-1.795a.78.78 0 1 1 1.352-.78l1.037 1.795a.78.78 0 0 1-.286 1.066zm30.204 52.315a.78.78 0 0 1-1.066-.286l-1.037-1.795a.78.78 0 1 1 1.352-.781l1.037 1.796a.78.78 0 0 1-.286 1.066zM37.8 48.53a.78.78 0 0 1-1.067.286l-1.795-1.037a.78.78 0 1 1 .78-1.352l1.796 1.037a.78.78 0 0 1 .286 1.066zm52.315 30.204a.78.78 0 0 1-1.067.286l-1.795-1.037a.78.78 0 1 1 .78-1.352l1.796 1.037a.78.78 0 0 1 .286 1.066zM33.996 62.725a.78.78 0 0 1-.781.78h-2.073a.78.78 0 1 1 0-1.561h2.073c.431 0 .78.35.78.78zm60.408 0a.78.78 0 0 1-.78.78H91.55a.78.78 0 1 1 0-1.561h2.073c.431 0 .78.35.78.78zM37.799 76.918a.78.78 0 0 1-.286 1.066l-1.795 1.037a.78.78 0 1 1-.781-1.352l1.795-1.037a.78.78 0 0 1 1.067.286zm52.315-30.204a.78.78 0 0 1-.286 1.066l-1.796 1.037a.78.78 0 1 1-.78-1.352l1.795-1.037a.78.78 0 0 1 1.067.286zM48.189 87.308a.78.78 0 0 1 .286 1.067l-1.037 1.795a.78.78 0 1 1-1.352-.78l1.037-1.796a.78.78 0 0 1 1.066-.286zm30.204-52.315a.78.78 0 0 1 .286 1.067l-1.037 1.795a.78.78 0 1 1-1.352-.78l1.037-1.796a.78.78 0 0 1 1.066-.286z"
            class="colorFAB941 svgShape"
          />
          <path
            fill="#fab941"
            d="M109.883 90.56c0 11.239-9.1 20.339-20.324 20.339-11.238 0-20.338-9.1-20.338-20.338 0-11.225 9.1-20.338 20.338-20.338 11.224 0 20.324 9.113 20.324 20.338z"
            class="colorFAB941 svgShape"
          />
          <path
            fill="#fab941"
            d="M97.017 75.664a.743.743 0 0 1-.323-.074 16.378 16.378 0 0 0-7.136-1.617.75.75 0 0 1 0-1.5c2.722 0 5.341.594 7.784 1.764a.75.75 0 0 1-.325 1.427zM73.12 85.793a.75.75 0 0 1-.71-.99c1.99-5.916 7-10.463 13.072-11.867a.75.75 0 0 1 .338 1.462c-5.57 1.287-10.163 5.458-11.99 10.884a.75.75 0 0 1-.71.511zM74.818 100.429a.75.75 0 0 1-.639-.355 18.023 18.023 0 0 1-2.709-9.513.75.75 0 0 1 1.5 0c0 3.088.86 6.105 2.485 8.722a.75.75 0 0 1-.637 1.146zM109.882 90.558c0 11.237-9.095 20.342-20.323 20.342-6.322 0-11.964-2.878-15.7-7.397a20.282 20.282 0 0 0 12.964 4.66c11.228 0 20.332-9.095 20.332-20.332 0-4.906-1.736-9.406-4.623-12.916a20.289 20.289 0 0 1 7.35 15.643z"
            class="colorFAB941 svgShape"
          />
          <path
            fill="#fab941"
            d="M90.749 96.356c.204 0 .38.075.53.223a.728.728 0 0 1 .223.53v2.45c0 .206-.075.382-.223.53a.724.724 0 0 1-.53.223h-2.397a.716.716 0 0 1-.528-.223.717.717 0 0 1-.222-.53v-2.45c0-.205.072-.381.222-.53a.72.72 0 0 1 .528-.223h2.397zm.614-2.424a.72.72 0 0 1-.224.53.72.72 0 0 1-.528.223h-2.118a.729.729 0 0 1-.53-.224.726.726 0 0 1-.223-.53v-12.37a.73.73 0 0 1 .222-.53.728.728 0 0 1 .53-.222h2.119c.204 0 .38.074.528.222.15.15.224.326.224.53v12.37z"
            class="colorFAB941 svgShape"
          />
          <circle
            cx="60.946"
            cy="60.609"
            r="44.728"
            fill="#168de2"
            class="color168DE2 svgShape"
          />
          <path
            fill="#2e6bce"
            d="M105.67 60.612c0 24.7-20.02 44.72-44.72 44.72-13.09 0-24.86-5.62-33.03-14.57 7.94 7.22 18.49 11.62 30.08 11.62 24.7 0 44.72-20.02 44.72-44.72 0-11.58-4.39-22.14-11.62-30.08 8.95 8.17 14.57 19.94 14.57 33.03z"
            class="color2E6BCE svgShape"
          />
          <circle
            cx="60.946"
            cy="60.609"
            r="38.172"
            fill="#ffffff"
            class="colorFFF svgShape"
          />
          <path
            fill="#4a749b"
            d="M49.734 73.773a1.951 1.951 0 0 1-1.38-3.332l10.64-10.64V39.32a1.952 1.952 0 1 1 3.904 0v21.287c0 .518-.206 1.014-.572 1.38L51.114 73.202c-.382.381-.88.572-1.38.572z"
            class="color4A749B svgShape"
          />
          <path
            fill="#f34b50"
            d="M65.102 60.61a4.156 4.156 0 0 1-4.154 4.153c-2.295 0-4.153-1.858-4.153-4.153s1.858-4.153 4.153-4.153a4.156 4.156 0 0 1 4.154 4.153z"
            class="colorF34B50 svgShape"
          />
          <path
            fill="#4a749b"
            d="M60.946 32.222a.78.78 0 0 1-.78-.78v-2.074a.78.78 0 1 1 1.56 0v2.073a.78.78 0 0 1-.78.78zm0 60.408a.78.78 0 0 1-.78-.78v-2.074a.78.78 0 1 1 1.56 0v2.073a.78.78 0 0 1-.78.78zM46.753 36.025a.78.78 0 0 1-1.067-.286l-1.036-1.795a.78.78 0 1 1 1.352-.781l1.036 1.795a.78.78 0 0 1-.285 1.067zM76.957 88.34a.78.78 0 0 1-1.067-.286l-1.036-1.795a.78.78 0 1 1 1.352-.781l1.036 1.795a.78.78 0 0 1-.285 1.067zM36.362 46.415a.78.78 0 0 1-1.066.286L33.5 45.664a.78.78 0 1 1 .781-1.352l1.796 1.037a.78.78 0 0 1 .285 1.066zM88.677 76.62a.78.78 0 0 1-1.066.286l-1.796-1.037a.78.78 0 1 1 .781-1.352l1.796 1.037a.78.78 0 0 1 .285 1.066zM32.56 60.609a.78.78 0 0 1-.781.78h-2.074a.78.78 0 1 1 0-1.561h2.074c.43 0 .78.349.78.78zm60.407 0a.78.78 0 0 1-.78.78h-2.074a.78.78 0 1 1 0-1.561h2.074c.43 0 .78.349.78.78zM36.362 74.802a.78.78 0 0 1-.285 1.066l-1.796 1.037a.78.78 0 1 1-.78-1.352l1.795-1.037a.78.78 0 0 1 1.066.286zm52.315-30.204a.78.78 0 0 1-.285 1.066l-1.796 1.037a.78.78 0 1 1-.78-1.352l1.795-1.037a.78.78 0 0 1 1.066.286zM46.753 85.192a.78.78 0 0 1 .285 1.067l-1.036 1.795a.78.78 0 1 1-1.352-.78l1.036-1.796a.78.78 0 0 1 1.067-.286zm30.204-52.315a.78.78 0 0 1 .285 1.067l-1.036 1.795a.78.78 0 1 1-1.352-.78l1.036-1.796a.78.78 0 0 1 1.067-.286z"
            class="color4A749B svgShape"
          />
          <path
            fill="#f34b50"
            d="M108.446 88.445c0 11.238-9.1 20.338-20.324 20.338-11.238 0-20.338-9.1-20.338-20.338 0-11.225 9.1-20.338 20.338-20.338 11.224 0 20.324 9.113 20.324 20.338z"
            class="colorF34B50 svgShape"
          />
          <path
            fill="#ff6c77"
            d="M95.58 73.548a.743.743 0 0 1-.322-.074 16.378 16.378 0 0 0-7.136-1.617.75.75 0 0 1 0-1.5c2.722 0 5.34.594 7.784 1.764a.75.75 0 0 1-.325 1.427zM71.683 83.677a.75.75 0 0 1-.71-.99c1.99-5.916 7-10.463 13.073-11.867a.75.75 0 0 1 .338 1.462c-5.57 1.287-10.164 5.458-11.99 10.884a.75.75 0 0 1-.71.511zM73.382 98.313a.75.75 0 0 1-.639-.355 18.023 18.023 0 0 1-2.709-9.513.75.75 0 0 1 1.5 0c0 3.088.86 6.105 2.484 8.722a.75.75 0 0 1-.636 1.146z"
            class="colorFF6C77 svgShape"
          />
          <path
            fill="#e53946"
            d="M108.446 88.442c0 11.237-9.096 20.342-20.323 20.342-6.322 0-11.964-2.878-15.7-7.397a20.282 20.282 0 0 0 12.963 4.66c11.228 0 20.333-9.095 20.333-20.332 0-4.906-1.736-9.407-4.623-12.916a20.289 20.289 0 0 1 7.35 15.643z"
            class="colorE53946 svgShape"
          />
          <path
            fill="#ffffff"
            d="M89.312 94.24c.205 0 .381.074.531.223a.728.728 0 0 1 .222.53v2.45c0 .206-.075.381-.222.53a.724.724 0 0 1-.53.223h-2.397a.716.716 0 0 1-.528-.223.717.717 0 0 1-.223-.53v-2.45c0-.205.073-.382.223-.53a.72.72 0 0 1 .528-.223h2.396zm.615-2.424a.72.72 0 0 1-.225.53.72.72 0 0 1-.528.223h-2.118a.729.729 0 0 1-.53-.224.726.726 0 0 1-.222-.53v-12.37a.73.73 0 0 1 .222-.53.728.728 0 0 1 .53-.222h2.118c.204 0 .381.074.528.222.15.15.225.326.225.53v12.37z"
            class="colorFFF svgShape"
          />
        </svg>
      </h1>
      <p>
        The link you are trying to access has expired. Please contact the sender
        for a new link.
      </p>
    </div>
  </body>
</html>
